<div class="block-node-palette-color-select" ...attributes>
  <Block::Node::Palette::Color::Rect @size="wide" @disabled={{@disabled}} @color={{@selected}} {{on "click" this.setOpen}}/>
  {{#if this.open}}
    <div class="background" role="button" {{on "click" this.setClosed}}></div>
    <div class="overlay">
      {{#each @palette.identifiedColors as |color|}}
        <Block::Node::Palette::Color::Rect
          class="color"
          @size="wide"
          @selected={{eq color @selected}}
          @color={{color}}
          {{on "click" (fn this.select color)}}
        />
      {{/each}}
    </div>
  {{/if}}
</div>