<div class="sprite-frame-editor" ...attributes {{konva-node this}}>

  <Block::Project::Editor::Node::Sprite::Frame::Content
    @parent={{this}}
    @editing={{this.editing}}
    @size={{this.size}}
    @frame={{this.frame}}
    @color={{@color}}
    @palette={{@palette}}
  />

  <Konva::Node::Rect @parent={{this}} @model={{this.border}}/>

</div>