<div class="block-project-inspector">
  <div class="content">
    <div class="scrollable">
      <Block::Project::Inspector::Content @model={{@project.selected}} as |content|>
        {{component (concat 'block/project/inspector/node/' @project.selected.type) model=@project.selected content=content}}
      </Block::Project::Inspector::Content>
      <div class="development">
        <div class="row">
          <Block::SetGlobal
            class="icon set-global"
            @key={{if @project.selected.isProject "project" "node"}}
            @value={{@project.selected}}
          />
          <Block::OpenDashboard
            class="icon open-dashboard"
            @doc={{@project.selected.doc}}
          />
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <Block::Project::Inspector::Footer @project={{@project}}/>
  </div>
</div>