<div class="block-project-tools-sprite">
  <Konva::Hotkeys @onBind={{this.bindKeys}}/>
  <Block::Node::Toolbar::Tools
    class="tools"
    @tools={{this.tools.all}}
    @tool={{this.tool}}
    @onSelect={{this.selectTool}}
  />
  <Block::Node::Toolbar::Palette
    class="palette"
    @palette={{@node.palette.model}}
    @selected={{@node.color}}
    @onSelect={{this.selectColor}}
  />
</div>