<Konva::Hotkeys @onBind={{this.onBindHotkeys}}/>

{{#if this.frame}}

  <Block::Konva::Editor class="scene" as |editor|>

    <Konva::Node::Layer @parent={{editor.stage}} as |parent|>
      <Konva::Node::Rect @parent={{parent}} @model={{hash
        x=10
        y=10
        width=10
        height=10
        fill="#000"
      }}/>
      <Konva::Node::Rect @parent={{parent}} @model={{hash
        x=20
        y=10
        width=10
        height=10
        fill="#fff"
      }}/>
    </Konva::Node::Layer>

  </Block::Konva::Editor>

{{else}}

  <div class="block-konva-editor placeholder">
    <div class="title">Please create a frame</div>
  </div>

{{/if}}
