<div class="group color">
  <div class="label">{{@label}}</div>
  <Block::Node::Palette::Color::Rect class="color" @size="wide" @color={{@model}}/>
  {{#each this.props as |key|}}
    <div class="prop">
      <Input::Slider
        class="slider"
        @value={{get @model key}}
        @disabled={{@model.editable.disabled}}
        @min={{0}}
        @max={{255}}
        @onInput={{fn this.onChange key}}
      />
      <Input::Text
        class={{class "input" "small"}}
        @disabled={{@model.editable.disabled}}
        @value={{get @model key}}
        @type="int"
        @onChange={{fn this.onChange key}}
      />
    </div>
  {{/each}}
  <Input::Text @disabled={{@model.editable.disabled}} @value={{this.hex}} @onChange={{this.onHex}}/>
</div>