<div class="group color preview">
  <Block::Node::Palette::Color::Rect class="color" @size="wide-large" @color={{@model}}/>
</div>
<div class="group color input">
  <div class="label">RGBA</div>
  {{#each this.props as |key|}}
    <div class="prop">
      <Input::Slider
        class="slider"
        @value={{get @model key}}
        @disabled={{@model.editable.disabled}}
        @min={{0}}
        @max={{255}}
        @onInput={{fn this.onChange key}}
      />
      <Input::Text
        class={{class "input" "small"}}
        @disabled={{@model.editable.disabled}}
        @value={{get @model key}}
        @type="int"
        @onChange={{fn this.onChange key}}
      />
    </div>
  {{/each}}
</div>
<div class="group color hex">
  <div class="label">Hex</div>
  <Input::Text @disabled={{@model.editable.disabled}} @value={{this.hex}} @onChange={{this.onHex}}/>
</div>
