<div class="group color">
  <div class="label">{{@label}}</div>
  {{#if this.palette}}
    <Block::Node::Palette::Color::Select
      @palette={{this.palette}}
      @selected={{this.color}}
      @onSelect={{this.onSelect}}
      @disabled={{@model.editable.disabled}}
    />
  {{/if}}
</div>
