<div class="group color">
  <div class="label">
    <div class="text">{{@label}}</div>
    {{#if this.reference.missing}}
      <Block::Icon class="icon warning" @name="exclamation-circle"/>
    {{/if}}
    <Block::Icon
      class={{class "icon" "follow" faded=(not this.reference.palette)}}
      @name="chevron-circle-right"
      {{on "click" this.onFollow}}
    />
  </div>
  <Block::Node::Palette::Color::Select
    class="select"
    @palette={{this.reference.palette}}
    @selected={{this.color}}
    @onSelect={{this.onSelect}}
    @disabled={{or @model.editable.disabled (not this.reference.palette)}}
  />
  <Input::Text
    class="identifier"
    @value={{this.reference.identifier}}
    @disabled={{or @model.editable.disabled (not this.reference.palette)}}
    @onChange={{this.onChange}}
  />
</div>
