<div class="group reference">
  <div class="label">
    <div class="text">{{@label}}</div>
    {{#if this.reference.missing}}
      <div class="warning"><Block::Icon class="icon" @name="exclamation-circle"/></div>
    {{/if}}
  </div>
  <Input::Select
    @values={{this.values}}
    @value={{this.value}}
    @disabled={{not @model.editable}}
    @onChange={{this.onChange}}
  as |value|>
    {{#if value}}
      {{value.identifier}}
    {{else}}
      None
    {{/if}}
  </Input::Select>
</div>
