<div class="group reference">
  <div class="label">
    <div class="text">{{@label}}</div>
    {{#if this.reference.missing}}
      <Block::Icon class="icon warning" @name="exclamation-circle"/>
    {{/if}}
    <Block::Icon
      class={{class "icon" "follow" faded=(not this.reference.model)}}
      @name="chevron-circle-right"
      {{on "click" this.onFollow}}
    />
  </div>
  <Input::Select
    class="select"
    @values={{this.values}}
    @value={{this.value}}
    @disabled={{@model.editable.disabled}}
    @onChange={{this.onChange}}
  as |value|>
    {{#if value}}
      {{value.identifier}}
    {{else}}
      None
    {{/if}}
  </Input::Select>
</div>
