<div class="scene-layer" ...attributes {{konva-node this}}>

  <Konva::Node::Rect @parent={{this}} @model={{hash
    name="layer-background"
    x=0
    y=0
    width=@size.width
    height=@size.height
  }}/>

  <Konva::Node::Group @parent={{this}} as |parent|>
    {{#each @node.visibleChildren as |entity idx|}}
      {{component
        (concat 'block/project/editor/node/scene/layer/' entity.type)
        parent=parent
        node=entity
        zIndex=idx
      }}
    {{/each}}
  </Konva::Node::Group>

</div>