<div
  class={{class 'block-project-editor-node' type=@node.type}}
  role="button"
  data-type="editor"
  data-index={{@index}}
  style={{this.style}}
  {{on 'click' this.onClick}}
>
  <div class="identifier">{{or @node.identifier 'No identifier'}}</div>
  {{component (concat 'block/project/editor/node/' @node.type)
    node=@node
  }}
</div>