<Block::Editor::Border @node={{@node}}>
  <div class="block-project-editor-node-palette" style={{this.style}} role="button" {{on "click" (fn this.select null)}}>
    <div class="colors">
      {{#each @node.colors as |color|}}
        {{!-- template-lint-disable no-nested-interactive --}}
        <div class="color" role="button" {{on "click" (fn this.select color)}}>
          <Block::Node::Palette::Color::Rect @size={{@node.pixel.absolute}} class="rect" @color={{color}}/>
        </div>
      {{/each}}
    </div>
  </div>
</Block::Editor::Border>