<div class={{class "item" selected=@selected warning=@warning hidden=@hidden}} ...attributes role="button" {{on 'click' this.onSelect}}>
  <div class="content">
    {{!-- template-lint-disable no-nested-interactive --}}
    {{#if @expandable}}
      <div class="expand" role="button" {{on 'click' this.toggleExpand}}>
        <Block::Icon class="icon" @name={{if @expanded 'angle-down' 'angle-right'}}/>
      </div>
    {{else}}
      <div class="expand"></div>
    {{/if}}
    <div class="details">
      {{yield to="content"}}
    </div>
    <div class="accessories">
      {{#if @warning}}
        <div class="target">
          <Block::Icon class="icon warning" @name="exclamation-circle"/>
        </div>
      {{/if}}
      {{!-- template-lint-disable no-nested-interactive --}}
      <div class="target" role="button" {{on 'click' this.onToggleHidden}}>
        <Block::Icon class={{class 'icon' faded=this.hidden.faded}} @name={{this.hidden.icon}}/>
      </div>
      {{!-- template-lint-disable no-nested-interactive --}}
      <div class="target" role="button" {{on 'click' this.onToggleLock}}>
        <Block::Icon class={{class 'icon' faded=this.lock.faded}} @name={{this.lock.icon}}/>
      </div>
    </div>
  </div>
  <div class="items">
    {{#if @expanded}}
      {{yield to="items"}}
    {{/if}}
  </div>
</div>
