<Konva::Hotkeys @onBind={{this.onBindHotkeys}}/>

{{#if this.frame}}

  <Block::Konva::Editor class="scene" as |editor|>
    <Block::Konva::Editor::Sprite::Frames::Stage
      @size={{editor.size}}
      @onClick={{this.stopEditing}}
      as |parent|>

      <Konva::Node::Layer @parent={{parent}} as |parent|>

        <Block::Konva::Editor::Sprite::Frames::Frame::Editor
          @stageSize={{editor.size}}
          @parent={{parent}}
          @frame={{this.frame}}
          @editing={{this.editing}}
          @color={{this.color}}
          @onStartEditing={{this.startEditing}}
        />

      </Konva::Node::Layer>
    </Block::Konva::Editor::Sprite::Frames::Stage>
  </Block::Konva::Editor>

{{else}}

  <div class="block-konva-editor placeholder">
    <div class="title">Please create a frame</div>
  </div>

{{/if}}
