{{#each @array as |node|}}

  <@tree.item
    class={{node.type}}
    @selected={{node.selected}}
    @lock={{node.lock}}
    @hide={{node.hide}}
    @expand={{node.expand}}
    @warning={{node.warnings.any}}
    @onSelect={{fn @onSelect node}}
  >
    <:content>
      <div class="row">{{node.typeName}}</div>
      <div class="row strong">{{or node.identifier 'No identifier'}}</div>
    </:content>
    <:items>
      <Block::Project::Tree::Content
        @array={{node.children}}
        @tree={{@tree}}
        @onSelect={{@onSelect}}
        @onUpdate={{@onUpdate}}
      />
    </:items>
  </@tree.item>

{{/each}}