{{#each @array as |node|}}

  <@tree.item
    class={{node.type}}
    @selected={{node.selected}}
    @locked={{node.locked}}
    @parentLocked={{node.parentLocked}}
    @expanded={{node.expanded}}
    @expandable={{node.hasChildren}}
    @warning={{node.hasIdentifierConflict}}
    @onSelect={{fn @onSelect node}}
    @onUpdate={{fn @onUpdate node}}
  >
    <:content>
      <div class="row">{{node.typeName}}</div>
      <div class="row strong">{{or node.identifier 'No identifier'}}</div>
    </:content>
    <:items>
      <Block::Project::Tree::Content
        @array={{node.children}}
        @tree={{@tree}}
        @onSelect={{@onSelect}}
        @onUpdate={{@onUpdate}}
      />
    </:items>
  </@tree.item>

{{/each}}