<div class="block-project-index">
  <Block::Project::Tree @nodes={{@project.nodes}} class="tree"/>
  <div class="content">
    <Block::Project::Editor @project={{@project}} class="editor"/>
    <Block::Project::Timeline @node={{@project.selected}} class="timeline"/>
  </div>
  <Block::Project::Inspector @project={{@project}} class="inspector"/>
  <Block::Project::Tools @node={{@project.selected.group}}/>
</div>
