<div class="block-project-inspector-footer">
  <div class="pixel">
    <div class="label">Pixel size</div>
    <div class="content">
      <Input::Slider class="slider" @min={{this.min}} @max={{this.max}} @value={{this.pixel}} @onInput={{this.onPixel}}/>
      <Input::Text class="input small" @value={{this.pixel}} @type="int" @onChange={{this.onPixel}}/>
    </div>
  </div>
</div>