{{page-title "Index"}}

<div class="route-index">

  {{!-- <Konva::Autosize class="autosize" as |size|>
    <Konva::Stage @size={{size}} as |parent|>
      <Konva::Node::Layer @parent={{parent}} as |parent|>
        <Konva::Node::Rect @parent={{parent}} @model={{hash
          x=1
          y=1
          width=50
          height=50
          fill="#333"
        }}/>
      </Konva::Node::Layer>
    </Konva::Stage>
  </Konva::Autosize> --}}

</div>