<div class="sequence" ...attributes {{konva-node this}}>

  <Block::Konva::Frames
    @parent={{this}}
    @size={{this.size}}
    @frames={{this.frames}}
    @framerate={{this.framerate}}
    @key="frame"
  />

</div>