<div class="application-header" ...attributes>
  <LinkTo @route="index" class="logo">Petite</LinkTo>
  <div class="items left">
    {{#each this.breadcrumbs.items as |item|}}
      {{#if item.model}}
        <LinkTo @route={{item.route}} @model={{item.model}}>{{item.label}}</LinkTo>
      {{else}}
        <LinkTo @route={{item.route}}>{{item.label}}</LinkTo>
      {{/if}}
    {{/each}}
  </div>
  <div class="items right">
    {{#if this.user}}
      <div class="label">{{this.user.email}}</div>
      <LinkTo @route="session.delete">Sign out</LinkTo>
    {{else}}
      <LinkTo @route="session.new">Sign in</LinkTo>
    {{/if}}
  </div>
</div>