<div class="application-header" ...attributes>
  <div class="items left">

    {{#if this.back}}

      {{#if this.back.model}}
        <LinkTo @route={{this.back.route}} @model={{this.back.model}}>
          <Block::Icon @name="chevron-left" @class="icon"/>
        </LinkTo>
      {{else}}
        <LinkTo @route={{this.back.route}}>
          <Block::Icon @name="chevron-left" @class="icon"/>
        </LinkTo>
      {{/if}}

    {{/if}}

    {{#if this.item.model}}
      <LinkTo @route={{this.item.route}} @model={{this.item.model}}>{{this.item.label}}</LinkTo>
    {{else}}
      <LinkTo @route={{this.item.route}}>{{this.item.label}}</LinkTo>
    {{/if}}

  </div>
  <div class="items tools" {{did-insert this.didInsertToolsElement}}>
  </div>
  <div class="items right">
    {{#if this.user}}
      <div class="label">{{this.user.email}}</div>
      <LinkTo @route="session.delete"><Block::Icon @name="power-off" @class="icon"/></LinkTo>
    {{else}}
      <LinkTo @route="session.new">Sign in</LinkTo>
    {{/if}}
  </div>
</div>