<div class="application-header" ...attributes>
  <div class="items left">
    <LinkTo @route="index">Petit</LinkTo>
    <Block::Icon @name="chevron-right" @class="delimiter"/>
    {{#each this.breadcrumbs.items as |item|}}
      {{#if item.model}}
        <LinkTo @route={{item.route}} @model={{item.model}}>{{item.label}}</LinkTo>
      {{else}}
        <LinkTo @route={{item.route}}>{{item.label}}</LinkTo>
      {{/if}}
      <Block::Icon @name="chevron-right" @class="delimiter"/>
    {{/each}}
  </div>
  <div class="items right">
    {{#if this.user}}
      <div class="label">{{this.user.email}}</div>
      <LinkTo @route="session.delete"><Block::Icon @name="power-off" @class="icon"/></LinkTo>
    {{else}}
      <LinkTo @route="session.new">Sign in</LinkTo>
    {{/if}}
  </div>
</div>