{{#if @frames}}
  <div class={{class 'group frame-input' disabled=this.disabled}}>
    <div class="label">{{or @label "Sprite Frame"}}</div>
    <div class="frames">
      {{#each @frames as |frame|}}
        <Block::Node::Sprite::Frame
          class={{class "frame" selected=(eq frame this.frame)}}
          @pixel={{2}}
          @frame={{frame}}
          @maxHeight={{32}}
          {{on 'click' (fn this.onChange frame)}}
        />
      {{else}}
        <div class="placeholder">No frames</div>
      {{/each}}
    </div>
  </div>
{{/if}}